<div class="pagination-container">
    <button class="btn btn-primary" @onclick="GoToPreviousPage">Previous</button>
    <span>Page @PageNumber</span>
    <button class="btn btn-primary" @onclick="GoToNextPage">Next</button>
</div>