.pagination-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f0f0f0; /* A light grey background */
    /* border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optional shadow */
}

h3 {
  color: blue;
}

.my-custom-class {
  font-weight: bold;
}