@page "/PlayFinishPage/{Id:guid}"
@using FlashCards.WebBlazor.Bl.ApiClient
@using FlashCards.WebBlazor.Bl.Facades

<MudButton Style="color: var(--card-text-Primary); margin: 20px;" StartIcon="@Icons.Material.Filled.ArrowBack"
           Size="Size.Large" Href="/CollectionPage">Back
</MudButton>


<div style="text-align: center; margin-top: -20px">
    <MudText Style="color: var(--color-text-main)" Typo="Typo.h4">Successfully completed</MudText>
    <MudText Style="color: var(--color-text-secondary)" Typo="Typo.body1">Collection - Lection01</MudText>
</div>

<MudPaper
    Style="width: 60%; padding: 20px; margin: 20px auto; background-color: var(--card-background-Primary); border-radius: 15px;">
    <MudText Style="color: var(--card-text-Primary); margin-top: -2px" Typo="Typo.h6">Results</MudText>
    
    <MudStack Style="margin-top: 10px;" Row StretchItems="StretchItems.All">
        <MudPaper Style="background-color:#4e445a; border-radius: 10px;">
            <MudStack Style="margin: 5px auto" AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="2">
                <MudIcon Style="color:#ff6467" Icon="@Icons.Material.Outlined.Cancel"/>
                <MudText Style="color:#ffa2a2" Typo="Typo.h6">1</MudText>
                <MudText Style="color:#ff6467" Typo="Typo.subtitle2">Unknown</MudText>
            </MudStack>
        </MudPaper>
        <MudPaper Style="background-color:#4c5e4f; border-radius: 10px;">
            <MudStack Style="margin: 5px auto" AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="2">
                <MudIcon Style="color:#fdc700" Icon="@Icons.Material.Filled.QuestionMark"/>
                <MudText Style="color:#f0c135" Typo="Typo.h6">0</MudText>
                <MudText Style="color:#fdc700" Typo="Typo.subtitle2">50/50</MudText>
            </MudStack>
        </MudPaper>
        <MudPaper Style="background-color:#1c635f; border-radius: 10px;">
            <MudStack Style="margin: 5px auto" AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="2">
                <MudIcon Style="color:#05df72" Icon="@Icons.Material.Filled.Done"/>
                <MudText Style="color:#7bf1a8" Typo="Typo.h6">2</MudText>
                <MudText Style="color:#05df72" Typo="Typo.subtitle2">Know</MudText>
            </MudStack>
        </MudPaper>
    </MudStack>
</MudPaper>

@code {
    [Inject] private CardCollectionWebFacade CardCollectionWebFacade { get; set; } = null!;
    [Inject] private CompletedLessonWebFacade CompletedLessonWebFacade { get; set; } = null!;
    [Inject] private NavigationManager Navigation { get; set; } = null!;
    
    [Parameter] public Guid Id { get; set; } = Guid.Empty;
    
    private CompletedLessonDetailModel completedLesson { get; set; }
    
}