@page "/FlashCards"
@page "/FlashCards/{CollectionId:guid}"
@attribute [StreamRendering]
@using FlashCards.Web.App.Components.Matrixes
@using FlashCards.Web.App.Components.Buttons
@using FlashCards.Web.App.Components
@using FlashCards.Web.Bl.ApiClient

<h3>FlashCardsCollectionListPage</h3>

<div class="header-container">
    <div class="button-group">
        <CustomButton Text="New Collection" OnClick="OnNewCardClicked" BackgroundColor="#5f238c"/>
        <CustomButton Text="Delete" OnClick="OnDeleteClicked" BackgroundColor="#dc3545"/>
    </div>
    <SearchComponent OnSearchChanged="PerformSearch"/>
</div>

@if (Cards == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <MatrixComponent TItem="CardListModel" Items="@Cards" Columns="3">
        <ChildContent Context="card">
            <MatrixCardItem CardList="@card"/>
        </ChildContent>
    </MatrixComponent>

    <Paginator PageNumber="currentPage" PageNumberChanged="HandlePageChange"/>
}
