@page "/FlashCards"
@page "/FlashCards/{CollectionId:guid}"
@using FlashCards.Web.App.Components
@using FlashCards.Web.App.Components.Matrixes
@using FlashCards.Web.Bl.ApiClient
@attribute [StreamRendering]

<h3>FlashCardsCollectionListPage</h3>


@if (Cards == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <MatrixComponent TItem="CardListModel" Items="@FilteredCards" Columns="3"> @*<-- CHANGE HERE *@
        <ChildContent Context="card">
            <MatrixCardItem CardList="@card"/>
        </ChildContent>
    </MatrixComponent>

    <Paginator PageNumber="currentPage" PageNumberChanged="HandlePageChange"/>
}