@page "/FlashCards"

<h3>FlashCardsCollectionListPage</h3>


@if (Collections == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Farenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in Collections)
        {
            <tr>
                <td>@forecast.Otazka Date.ToShortDateString()</td>
                <td>@forecast.SpravnaOdpoved</td>
                <td>@forecast.DoplnujuciPopis</td>
            </tr>
        }
        </tbody>
    </table>
}
