/.idea
/FlashCards.sln.DotSettings.user

/FlashCards.Api.App/bin
/FlashCards.Api.App/obj
/FlashCards.Api.App/appsettings.Development.json
/FlashCards.Api.App/appsettings.json
/FlashCards.Api.App/Properties/launchSettings.json

/FlashCards.Api.Bl/bin
/FlashCards.Api.Bl/obj

/FlashCards.Api.Dal/bin
/FlashCards.Api.Dal/obj
/FlashCards.Api.Dal/Migrations

/FlashCards.Common/bin
/FlashCards.Common/obj

/FlashCards.Web.App/bin
/FlashCards.Web.App/obj

/FlashCards.Web.Bl/bin
/FlashCards.Web.Bl/obj