<nav class="top-nav-bar">
    <div class="nav-left">
        <a class="navbar-brand" href="">FlashCards.Web.App</a>
    </div>

    <div class="nav-center">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="flashcards">Flash cards</NavLink>
        <NavLink class="nav-link" href="collectionsPage">Collections</NavLink>
    </div>

    <div class="nav-right">
        <NavLink class="nav-link" href="AuthenticationPage/login">Prihlásiť sa</NavLink>
    </div>
</nav>

