:root {
    /* Akcentové farby */
    --color-primary: #1b6ec2;
    --color-link: #0071c1;
    --color-success: #26b050;
    --color-error: red;
    /* Svetle pozadie a svetlý text */
    --color-background-app: #1a3a51;
    --coloer-border-app: #35546b;

    --color-background-Primary: #1d536b;
    --color-background-Secondary: #234962;
    --color-background-Tercial: #74bbcc;
    --color-background-Quartal: #6f919f;
    
    --color-action-Primary: #1b5167;
    --color-action-Secondary: #2b86b3;

    --color-text-main: #f2f2f2;
    --color-text-secondary: #c8c8c8;
    --color-text-secondary-main: #FFF0DD;
    --color-text-secondary-secondary: #FFF0DD;
    --color-surface: #ffffff;
    --color-loading-circle: #1b6ec2;
    
    --filtercomponent-background: var(--color-background-Secondary);
    --filtercomponent-text-color: var(--color-text-secondary);
    --filtercomponent-action-color: var(--color-action-Primary);
    --filtercomponent-selected-color: var(--color-action-Secondary);
    --filtercomponent-border-color: var(--coloer-border-app);
    
    --selector-background: var(--filtercomponent-background);
    --selector-text-color: var(--filtercomponent-text-color);
    --selector-action-color: var(--filtercomponent-action-color);
    --selector-selected-color: var(--filtercomponent-selected-color);
    --selector-border-color: var(--filtercomponent-border-color);

    --card-background-Primary: var(--color-background-Secondary);
    --card-background-Secondary: var(--color-background-Primary);
    --card-text-Primary: var(--color-text-main);
    --card-text-Secondary: var(--color-text-secondary);
    --card-action: var(--color-action-Primary);
    --card-border: var(--color-background-Secondary);

    --form-background-Primary: var(--card-background-Primary);
    --form-background-Secondary: var(--color-background-Secondary);
    --form-text-Primary: var(--card-text-Primary);
    --form-text-Secondary: var(--color-text-secondary);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--color-background-app);    
    scrollbar-gutter: stable;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/*-----------------------------------------------*/
/*-----------------SPECIFICATION-----------------*/
/*-----------------------------------------------*/

/* -- MUDBLAZOR -- */
/* -- Global --*/
.global-background {
    background-color: var(--color-background-app);
}

.pagination-center-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: var(--color-text-main);
}


.appbar-specific{
    margin: 0 auto !important; 
    width: 100% !important; 
    background-color: var(--color-background-app) !important;
    border-bottom: 1px solid var(--filtercomponent-border-color) !important;
}

.appbar-specific-mudavatar{
    width: 35px !important; 
    height: 35px !important;
    background-color: transparent !important;
}

.appbar-specific-text{
    color: var(--color-text-main) !important;
}

.appbar-specific-buttons{
    color: var(--color-text-main) !important;
    border-radius: 20px !important;
    font-size: 17px !important;
    height: auto !important;
    text-align: center !important;
    width: auto !important;
}
.appbar-specific-buttons-matchingPrefix {
    color: #fdbd00 !important;
}
.appbar-specific-buttons-matchingPrefix .mud-icon-root {
    color: #fdbd00 !important;
}


.filtercomponent-specific-paper{
    background-color: var(--filtercomponent-background) !important;
    border: 2px solid var(--filtercomponent-border-color) !important;
    border-radius: 15px !important;
    margin: 10px auto !important;
    width: 95% !important;
    padding: 10px !important;
}

.filtercomponent-specific-layoutBtn{
    border-radius: 10px !important;
    border: 2px solid var(--filtercomponent-border-color) !important;
    color: var(--filtercomponent-text-color) !important;
}
.filtercomponent-specific-deleteBtn{
    border-radius: 10px !important;
    border: 2px solid var(--filtercomponent-border-color) !important;
    color: var(--filtercomponent-text-color) !important;
}
.filtercomponent-specific-searchbar{
    background-color: var(--filtercomponent-background) !important;
    color: var(--filtercomponent-text-color) !important;
    border-radius: 10px;
    border: 2px solid var(--filtercomponent-border-color) !important ;
    width: 100% !important;
    padding: 10px !important;
    font-size: 18px !important;
}
.filtercomponent-specific-searchbar:focus{
    background-color: var(--filtercomponent-action-color) !important;
    outline: none !important;
}

.filtercomponent-specific-searchbar:hover{
    background-color: var(--filtercomponent-action-color) !important;
}



.collectionpage-specific-collection-container{
    margin: 10px auto !important;
    margin-bottom: 60px !important;
    background-color: var(--color-background-app);
}
.collectionpagecomponent-specific-card-paper {
    width: 400px;
    padding: 20px 25px;
    overflow: hidden !important;
    border-radius: 10px !important;
}
.collectionpagecomponent-specific-card-paper:hover {
    margin: -5px 0 !important;
    cursor: pointer !important;
}
.collectionpagecomponent-specific-card-paper-list{
    width: 95%; 
    margin: -7px 0; 
    padding: 5px 15px;
    overflow: hidden !important;
    border-radius: 10px !important;
}
.collectionpagecomponent-specific-card-paper-list:hover {
    width: 97%;
    cursor: pointer !important;
}

.collectionpagecomponent-specific-card-count-badge {
    margin: 0;
    height: min-content !important;
    border-radius: 5px !important;
    background-color: var(--card-background-Secondary) !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    color: var(--card-text-Primary) !important;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-back {
    transform: rotateY(180deg);
}


.inputComponent-specific-searchbar{
    background-color: var(--filtercomponent-background) !important;
    color: var(--card-text-Primary) !important;
    border-radius: 10px;
    border: 2px solid var(--card-text-Primary) !important ;
    width: 100% !important;
    padding: 10px !important;
    font-size: 18px !important;
}
.inputComponent-specific-searchbar:focus{
    background-color: var(--filtercomponent-action-color) !important;
    outline: none !important;
}

.inputComponent-specific-searchbar:hover{
    background-color: var(--filtercomponent-action-color) !important;
}