<div class="item-content-wrapper">
    <div class="card-header-container">
        <h4 class="card-question">@CardList.Question</h4>
        <img src="https://placehold.co/50x50/35654d/fff?text=IMG" class="item-image" alt="Collection Image">
    </div>
    <div class="card-description-container">
        <p class="card-description">@CardList.Description</p>
    </div>
    <div class="card-answer">
        <p>@CardList.CorrectAnswer</p>
    </div>
</div>