<a href="/FlashCards/@Collection.Id" class="collection-link">    <div class="item-content-wrapper">
        <div class="item-header-container">
            <h4>@Collection.Title</h4>
            <img src="https://placehold.co/50x50/35654d/fff?text=IMG" class="item-image" alt="Collection Image">
        </div>
        <div class="item-times">
            <p>@Collection.StartTimeForAcceptedAnswers.ToString() - @Collection.EndTimeForAcceptedAnswers.ToString()</p>
        </div>
    </div>
</a>