@using Syncfusion.Blazor.Cards

<SfCard class="card-specific-userprofile-navbar">
    <CardContent>
        <div class="profile-content-wrapper">
            <div class="profile-text">
                <span class="user-name">@UserName</span>
                <span class="user-role">Role: @UserRole</span>
            </div>
            <img src=@ProfileImage alt="Profile" class="profile-image" />
        </div>
    </CardContent>
</SfCard>