
/* Main container for the text and image */
.profile-content-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
}

.profile-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.user-name {
    font-weight: 600;
    color: #212529;
}
.user-name:hover {
    cursor: pointer;
}

.user-role {
    font-size: 0.8em;
    text-align: left;
    color: #6c757d;
}
.user-role:hover {
    cursor: pointer;
}

/* The profile image */
.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-image:hover {
    cursor: pointer;
}