@page "/FlashCardsPage/{CardCollectionId:guid}"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using FlashCards.WebBlazor.App.Components
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Spinner

<div class="container-filterbox">
    <SfTextBox Input="FilterSearch" CssClass="searchbar-specific-filterbox" Placeholder="Search..."></SfTextBox>
    <SfDropDownList CssClass="dropdown-specific-filterbox" TValue="string" TItem="string" @bind-Value="@SelectedOptionForOrdering" DataSource="@_cardOptionsforOrdering"/>
    <SfButton Content="Play"></SfButton>
</div>

<div class="page-container">
    @if (_cardCollections == null)
    {
        <div class="card-container">
            <SfSpinner Visible="true" Label="Loading..."/>
        </div>
    }
    else
    {
        <div class="card-container">
            @foreach (var item in @_cardCollections)
            {
                <CollectionCardComponent
                    Title=@item.Question
                    CollectionId=@item.Id
                    StartTime=@item.CorrectAnswer
                    EndTime=@item.Description/>
            }
        </div>
    }
</div>