@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="alert alert-success" role="alert">
            Welcome authenticated user
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning" role="alert">
            Unauthenticated user, please <a href="authentication/login">log in</a> to unlock full functionality.
        </div>
    </NotAuthorized>
</AuthorizeView>

<h1>Hello, this is my new flash cards app!</h1>