@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FlashCards.WebBlazor.App.Components
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container-userprofilecardcomponent">
    <AuthorizeView>
        <Authorized>
            <div class="my-component-wrapper">
                <div @onclick="@ToggleDropdown">
                    <UserProfileCardComponent UserName=@UserName UserRole=@UserRole ProfileImage=@UserImage/>
                </div>
                @if (_isDropdownVisible)
                {
                    <div class="custom-dropdown-menu">
                        <ul>
                            <li @onclick="BeginLogOut">Logout</li>
                        </ul>
                    </div>
                }
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login" class="custom-login-text">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
