@inherits LayoutComponentBase
<div class="page">
    <div class="control-container">
        <NavMenu/>
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>